* {
	font-family: 'Nixie One', Helvetica;
	color: black;
	max-width: 100%;
	overflow-x: hidden;
}

h1 {
	background-image: url("Images/IzzatColorfulBannerNarrow.png");
	background-size: 100%;
	width: 100%;
	margin: 0;
	padding: 10% 0%;
}

h2 {
	text-align: center;
	font-size: 50px;
	padding: 2% 0%;
	color: inherit;
}

h3 {
	font-size: 100px;
	padding: 10%;
	color: inherit;
}

.leftText {
	float: left;
	color: inherit;
}

.rightText {
	float: right;
	color: inherit;
}

#Fly {
	font-size: 120px;
}

.navbar {
	background-color: #111;
	margin: 0;
}

/* ---------- Rectangle background styling ----------  */

.backgroundLayer {
	margin: 0;
	width: 100%;
}

#indexOneLayer {
	background-color: black;
	color: white;
}

.goldBackground {
	background-color: #ffcc00;
	color: #1F1F1F;
}

.greyBackground {
	background-color: #1F1F1F;
	color: #ffcc00;
}

/* -------- End Rectangle background styling --------  */

/* -------------- Index Image Containers ------------- */

.infoBox {
	font-size: 20px;
	background-color: inherit;
	color: inherit;
}

.imageContainer {
	display: block;
	color: inherit;
	padding: 3%;
	overflow: hidden;
}

.leftImage {
	float: left;
	margin-right: 3%;
}

.rightImage {
	float: right;
	margin-left: 3%;
}

p {
	color: inherit;
	margin: 3% 5%;
}
	
img {
	display: inline;
	border: 2px solid black;
}

#Dance {
	text-align: center;
	margin: inherit;
	color: inherit;
}

/* ----------- End Index Image Containers ------------ */

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #111;
}

footer .container {
	margin-top: 1%;
}

/* 480 px */
@media only screen and (max-width: 600px) {
	.imageContainer {
		text-align: center;
		margin-left: auto;
		margin-right: auto;
		width: 100%;
	}

	#Work, #Play {
		margin: auto;
	}

	#WorkImage {
		content:url("Images/IzzatWorkSmall.png");
	}

	#PlayImage {
		content:url("Images/IzzatPlaySmall.png");
	}

	/*Have a new Awari Jump image for anything less than 1088px*/
}


