body, * {
	font-family: 'Roboto', 'Nixie One', Helvetica;
	color: black;
	max-width: 100%;
	overflow-x: hidden;
}

/* -------------- Header and Footer -------------- */

#Banner {
	width: 100%;
}

.navbar-custom {
	background-color: #111;
	margin: 0;
}

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: #111;
}

footer .container {
	margin-top: 1%;
}

/* ------------ End Header and Footer ------------ */

h2 {
	text-align: center;
	font-size: 50px;
	padding: 2% 0%;
	color: inherit;
}

h3 {
	font-size: 100px;
	color: inherit;
}

/* ---------- Rectangle background styling ----------  */

.backgroundLayer {
	margin: 0;
	height: auto;
	width: 100%;
}

.greyBackground {
	background-color: #fbfcfc;
	color: #191919;
}

.whiteBackground {
	background-color: #ecf0f1;
	color: #191919;
}

#indexTwoLayer {
	background-color: black;
	color: yellow;
}

/* -------- End Rectangle background styling --------  */

/* -------------- Index Image Containers ------------- */

.infoBox {
	font-size: 20px;
	background-color: inherit;
	color: inherit;
}

.imageContainer, .videoContainer {
	display: block;
	color: inherit;
	overflow: hidden;
}

.leftImage {
	float: left;
	margin-left: 8%;
}

.rightImage {
	float: right;
	margin-right: 8%;
}

.leftText {
	float: left;
	color: inherit;
	margin-left: 8%;
	padding: 10%;
}

.rightText {
	float: right;
	color: inherit;
	margin-right: 8%;
	padding: 10%;
}

#upperText {
	font-family: 'Alegreya Sans SC';
	font-size: 80px;
	height: auto;
	padding: 2%;
}

p {
	color: inherit;
	margin: 3% 5%;
}
	
img {
	display: inline;
	border: 2px solid black;
}

#Fly {
	text-align: center;
	color: inherit;
	font-size: 120px;
	padding: 0;
	margin: 0;
}

#FlyImage {
	width: 100%;
}

.text-muted {
	margin: auto;
}

/* ----------- End Index Image Containers ------------ */

/* ------------------- Media Stuff ------------------- */

iframe {
	width: 470px;
	height: 264px;
	margin: 3% 0%;
	border: 2px groove #FFFD82;
}

#mediaBackgroundLayer {
    text-align: justify;
    -ms-text-justify: distribute-all-lines;
    text-justify: distribute-all-lines;
}

.blueBackground {
	background-color: #0499cc;
}

.videoContainer {
	display: inline-block;
    *display: inline;
    vertical-align: top;

    padding: 1% 2%;
    margin-top: 2%;
    zoom: 1;

	background-color: #191919;
	border: 5px groove black;
}

.videoContainer:first-child {
	margin-left: 7%;
}

.videoContainer:nth-child(2) {
	margin-right: 7%;
}

.stretch {
    width: 100%;
    display: inline-block;
    font-size: 0;
    line-height: 0;
}

.videoText {
	text-align: center;
	color: #ecf0f1;
}

/* ----------------- End Media Stuff ----------------- */


/* 480 px */
@media only screen and (max-width: 1079px) {
	.imageContainer {
		text-align: center;
		width: 100%;
		padding-bottom: 10%;
	}

	.leftImage, .rightImage, .leftText, .rightText {
		float: none;
		margin: auto;
	}

	#Work, #Play {
		margin: auto;
	}

	#WorkImage, #FallImage {
		content:url("Images/IzzatWorkSmall.png");
	}

	#PlayImage {
		content:url("Images/IzzatPlaySmall.png");
	}

	.videoContainer {

	}

	/*Have a new Awari Jump image for anything less than 1088px*/
}


